In [2]:
import pandas as pd
df = pd.read_csv("../../combined_file.csv")
df.drop(['definition', 'column_name'], axis=1, inplace=True)
df.columns

C:\Users\Franc\AppData\Local\Temp\ipykernel_18960\2358656560.py:2: DtypeWarning: Columns (0,1,2,8,9,12,13,15,17,18,19,21,22,23,24,25,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../combined_file.csv")

Index(['most_recent_observation', 'most_recent_observation_type',
       'common_name', 'scientific_name', 'city', 'state',
       'longitude_coordinate', 'latitude_coordinate', 'address', 'condition',
       'height_M', 'native', 'height_binned_M',
       'diameter_breast_height_binned_CM', 'greater_metro', 'city_ID',
       'tree_ID', 'planted_date', 'retired_date', 'location_type', 'zipcode',
       'neighborhood', 'location_name', 'ward', 'district', 'overhead_utility',
       'diameter_breast_height_CM', 'percent_population'],
      dtype='object')

In [3]:
df = df[["state", "city", "common_name"]]
df = df.dropna()
df = df[df["common_name"]!="ok to plant vacant"]
df

                        state           city              common_name
0                  New Mexico    Albuquerque                   Locust
1                  New Mexico    Albuquerque                      Oak
2                  New Mexico    Albuquerque                      Ash
3                  New Mexico    Albuquerque              Scotch pine
4                  New Mexico    Albuquerque              Honeylocust
...                       ...            ...                      ...
5642805  District of Columbia  Washington DC  Redmond american linden
5642806  District of Columbia  Washington DC                  Dogwood
5642807  District of Columbia  Washington DC        Flowering dogwood
5642808  District of Columbia  Washington DC              (see notes)
5642809  District of Columbia  Washington DC                White oak

[4651959 rows x 3 columns]

In [4]:
# Count frecuency of every common_name in the dataset
top_common_names = df['common_name'].value_counts().head(10).index

# Filter the dataframe
df1 = df[df['common_name'].isin(top_common_names)]
df1 = df1.groupby(['state', 'city', 'common_name']).size().reset_index(name='count')

df1.head(10)

          state            city       common_name  count
0    California         Anaheim      Crape myrtle   3320
1    California         Anaheim         Red maple     15
2    California          Fresno      Callery pear     55
3    California          Fresno  London planetree    294
4    California          Fresno           Pin oak      1
..          ...             ...               ...    ...
491   Wisconsin  West Milwaukee      Norway maple      5
492   Wisconsin   Whitefish Bay         Green ash      5
493   Wisconsin   Whitefish Bay       Honeylocust     10
494   Wisconsin   Whitefish Bay      Norway maple      2
495   Wisconsin   Whitefish Bay         Red maple      1

[496 rows x 4 columns]

In [5]:
df1_sorted = df1.sort_values(by=['state', 'count'], ascending=[True, False])

# Preallocate of dataframe
df_result = pd.DataFrame()

# Iterate over each state and select top 3 cities with most sum
# Iterar sobre cada estado y seleccionar las 3 ciudades con la suma mÃ¡s alta
for state, group in df1_sorted.groupby('state'):
    top_cities = group.head(3)
    df_result = pd.concat([df_result, top_cities])

df_result.reset_index(drop=True, inplace=True)
df1 = df_result.copy()
df1

         state              city        common_name  count
0   California       Los Angeles       Crape myrtle  34729
1   California        Sacramento   London planetree  14111
2   California  Rancho Cucamonga       Crape myrtle  12877
3     Colorado            Denver          Green ash  25736
4     Colorado            Denver  Littleleaf linden  12961
..         ...               ...                ...    ...
65  Washington           Seattle       Norway maple   4649
66  Washington           Seattle       Callery pear   2540
67   Wisconsin           Madison       Norway maple  20918
68   Wisconsin           Madison          Green ash  17377
69   Wisconsin           Madison  Littleleaf linden   3894

[70 rows x 4 columns]

In [6]:
df1["city"].nunique()
# To avoid circular link
df1["state"] = df1["state"].replace("New York", "New York State")

33

In [9]:
result = df1[0:42]
result

                   state              city        common_name  count
0             California       Los Angeles       Crape myrtle  34729
1             California        Sacramento   London planetree  14111
2             California  Rancho Cucamonga       Crape myrtle  12877
3               Colorado            Denver          Green ash  25736
4               Colorado            Denver  Littleleaf linden  12961
5               Colorado            Aurora        Honeylocust   8388
6   District of Columbia     Washington DC          Red maple  12543
7   District of Columbia     Washington DC            Pin oak   8815
8   District of Columbia     Washington DC       Crape myrtle   4350
9                Florida           Orlando           Live oak  17126
10               Florida        Cape Coral           Live oak   5727
11               Florida             Tampa           Live oak   5379
12                  Iowa            Waukee          Green ash    218
13                  Iowa            Newton          Green ash    205
14                  Iowa       Coon Rapids          Green ash    159
15                Kansas     Overland Park          Red maple  13289
16                Kansas     Overland Park            Pin oak   3419
17                Kansas     Overland Park          Green ash   1928
18              Kentucky        Louisville            Pin oak   1678
19              Kentucky        Louisville          Red maple   1538
20              Kentucky        Louisville          Green ash   1404
21             Louisiana       New Orleans          Red maple   1379
22             Louisiana       New Orleans          Green ash    153
23             Louisiana       New Orleans            Pin oak     14
24              Maryland         Baltimore          Red maple  12895
25              Maryland         Baltimore   London planetree   6033
26              Maryland         Baltimore  Littleleaf linden   5933
27         Massachusetts            Boston          Red maple    150
28         Massachusetts            Boston       Norway maple     20
29         Massachusetts            Boston  Littleleaf linden      2
30              Michigan      Grand Rapids       Norway maple  20426
31              Michigan      Grand Rapids          Red maple   4523
32              Michigan      Grand Rapids  Littleleaf linden   3033
33              Missouri         St. Louis          Red maple   8572
34              Missouri         St. Louis          Green ash   7761
35              Missouri         St. Louis       Callery pear   7196
36            New Mexico       Albuquerque        Honeylocust    159
37            New Mexico       Albuquerque  Littleleaf linden     28
38            New Mexico       Albuquerque          Green ash     20
39              New York          New York   London planetree  87014
40              New York          New York        Honeylocust  64264
41              New York          New York       Callery pear  58931

In [8]:
# Convert to JSON and write it in a file
json_data = result.to_json(orient='records')
with open('../datasets/sankey.json', 'w') as file:
    file.write(json_data)

json_data

'[{"state":"California","city":"Los Angeles","common_name":"Crape myrtle","count":34729},{"state":"California","city":"Sacramento","common_name":"London planetree","count":14111},{"state":"California","city":"Rancho Cucamonga","common_name":"Crape myrtle","count":12877},{"state":"Colorado","city":"Denver","common_name":"Green ash","count":25736},{"state":"Colorado","city":"Denver","common_name":"Littleleaf linden","count":12961},{"state":"Colorado","city":"Aurora","common_name":"Honeylocust","count":8388},{"state":"District of Columbia","city":"Washington DC","common_name":"Red maple","count":12543},{"state":"District of Columbia","city":"Washington DC","common_name":"Pin oak","count":8815},{"state":"District of Columbia","city":"Washington DC","common_name":"Crape myrtle","count":4350},{"state":"Florida","city":"Orlando","common_name":"Live oak","count":17126},{"state":"Florida","city":"Cape Coral","common_name":"Live oak","count":5727},{"state":"Florida","city":"Tampa","common_name":"Live oak","count":5379},{"state":"Iowa","city":"Waukee","common_name":"Green ash","count":218},{"state":"Iowa","city":"Newton","common_name":"Green ash","count":205},{"state":"Iowa","city":"Coon Rapids","common_name":"Green ash","count":159},{"state":"Kansas","city":"Overland Park","common_name":"Red maple","count":13289},{"state":"Kansas","city":"Overland Park","common_name":"Pin oak","count":3419},{"state":"Kansas","city":"Overland Park","common_name":"Green ash","count":1928},{"state":"Kentucky","city":"Louisville","common_name":"Pin oak","count":1678},{"state":"Kentucky","city":"Louisville","common_name":"Red maple","count":1538},{"state":"Kentucky","city":"Louisville","common_name":"Green ash","count":1404},{"state":"Louisiana","city":"New Orleans","common_name":"Red maple","count":1379},{"state":"Louisiana","city":"New Orleans","common_name":"Green ash","count":153},{"state":"Louisiana","city":"New Orleans","common_name":"Pin oak","count":14},{"state":"Maryland","city":"Baltimore","common_name":"Red maple","count":12895},{"state":"Maryland","city":"Baltimore","common_name":"London planetree","count":6033},{"state":"Maryland","city":"Baltimore","common_name":"Littleleaf linden","count":5933},{"state":"Massachusetts","city":"Boston","common_name":"Red maple","count":150},{"state":"Massachusetts","city":"Boston","common_name":"Norway maple","count":20},{"state":"Massachusetts","city":"Boston","common_name":"Littleleaf linden","count":2},{"state":"Michigan","city":"Grand Rapids","common_name":"Norway maple","count":20426},{"state":"Michigan","city":"Grand Rapids","common_name":"Red maple","count":4523},{"state":"Michigan","city":"Grand Rapids","common_name":"Littleleaf linden","count":3033},{"state":"Missouri","city":"St. Louis","common_name":"Red maple","count":8572},{"state":"Missouri","city":"St. Louis","common_name":"Green ash","count":7761},{"state":"Missouri","city":"St. Louis","common_name":"Callery pear","count":7196},{"state":"New Mexico","city":"Albuquerque","common_name":"Honeylocust","count":159},{"state":"New Mexico","city":"Albuquerque","common_name":"Littleleaf linden","count":28},{"state":"New Mexico","city":"Albuquerque","common_name":"Green ash","count":20},{"state":"New York","city":"New York","common_name":"London planetree","count":87014},{"state":"New York","city":"New York","common_name":"Honeylocust","count":64264},{"state":"New York","city":"New York","common_name":"Callery pear","count":58931}]'